<div class="row header">
	<div class="col-md-12">
		<div class="header-wraper">
			<div class="col-md-8 col-sm-8 col-xs-6">
				<h4 class="text text-info"><a ng-href="#/videos/list">VIDEO PORTAL</a></h4>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-6">
				<h4>
				<a href="" class="btn btn-link pull-right" ng-click="logout()">Logout</a>
				<small><span class="btn btn-link pull-right">User: {{app.username}}</a></span>
				</h4>
			</div>
		</div>
	</div>
</div>
<div class="header-clear"></div>

<ui-view></ui-view>
